<!-- STEP 1: Place the div under the button tag -->

<div class="absolute z-10 -ml-5 mt-5 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2">
  <div class="shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg">
    <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">

      <!-- CREATE THE SUBLINK -->
      <a class="-m-3 p-3 flex items start rounded-lg hover:bg-gray-100">
        <div class="ml-4">
          <p class="text-gray-900 text-base font-medium">
            Sublink 1
          </p>
        </div>
      </a>

      <a class="-m-3 p-3 flex items start rounded-lg hover:bg-gray-100">
        <div class="ml-4">
          <p class="text-gray-900 text-base font-medium">
            Sublink 2
          </p>
        </div>
      </a>

      <a class="-m-3 p-3 flex items start rounded-lg hover:bg-gray-100">
        <div class="ml-4">
          <p class="text-gray-900 text-base font-medium">
            Sublink 3
          </p>
        </div>
      </a>

    </div>
  </div>
</div>

<!--
STEP 2: IMPORT ALPINEJS in theme.liquid

<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

STEP 3: INITIATE THE ALPINE DATA VARIABLE

x-data="{ open: false }""

STEP 4: ADD CLICK EVENT TO THE BUTTON OF THE MENU/LINK ITEM

x-on:click="open = ! open"

STEP 5: ATTRIBUTES FOR THE DROPDOWN:

x-show="open"
@click.away="open = false"

-->